.info {

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.location {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}