.container {
    border: 1px dotted white;
    width: 100%;
    margin-top:  auto;

}

.wrapper {
    border: 1px dotted white;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 8px;
}   